<div class="header-container">
  <div class="logo-container">
    Logo
  </div>
  <div class="navigate-container">
    <a routerLink="/" [ngClass]="['navigate', currentRoute=='/' ? 'active-link' : '']"> Home</a>
    <a routerLink="/product" [ngClass]="['navigate', currentRoute=='/product' ? 'active-link' : '']">Product</a>
    <a routerLink="/service" [ngClass]="['navigate', currentRoute=='/service' ? 'active-link' : '']">Service</a>
    <a routerLink="/about" [ngClass]="['navigate', currentRoute=='/about' ? 'active-link' : '']">About</a>
    <div *ngIf="profile; then usermenublock;else loginlinkblock">

    </div>
    <ng-template #usermenublock>
      <div class="user-menu">
        <button [matMenuTriggerFor]="menu">
          <img [src]="profile?.avatar || avatarDefault" />
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/profile">Profile</a>
          <a mat-menu-item>Logout</a>
        </mat-menu>
      </div>
    </ng-template>
    <ng-template #loginlinkblock>
      <a routerLink="/auth/login">Login</a>
    </ng-template>
  </div>
</div>
