<div class="forgot-password-container">
  <mat-card>
    <div style="margin: 40px 20px">
      <mat-card-title><h1>Forgot password</h1></mat-card-title>
      <mat-card-content>
        <p>
          <span>
            <p class="title" style="font-size: 18px">Email</p>
            <mat-form-field appearance="outline" style="width: 100%">
              <input matInput  [(ngModel)]="email" type="text" placeholder="Enter your email">
            </mat-form-field>
          </span>
        </p>
        <p>
          <button mat-raised-button color="primary" type="button" (click)="handleSubmit()">Submit</button>
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
