.forgot-password-container{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.forgot-password-container mat-card{
  width: 450px;
  min-height: 200px;
}

mat-card-title h1{
  text-align: center;
}
