<div class="footer-main-container">
  <div class="text-container">
    <h2 class="text-title">Welcome to our website.</h2>
    <p class="text-content">We're delighted to have you here and can't wait to share our work with you.</p>
  </div>
  <div class="icon-container">
    <!-- facebook.component.html -->

<!--    <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>-->
<!--    <mat-chip-trailing-icon svgIcon="facebook"></mat-chip-trailing-icon>-->
<!--    <mat-chip-trailing-icon svgIcon="twitter"></mat-chip-trailing-icon>-->
<!--    <mat-chip-trailing-icon svgIcon="google"></mat-chip-trailing-icon>-->
<!--    <mat-chip-trailing-icon svgIcon="linkedin"></mat-chip-trailing-icon>-->
<!--    <mat-chip-trailing-icon svgIcon="github"></mat-chip-trailing-icon>-->
  </div>
</div>
<div class="footer-sub-container">
 <p>Coppyright &copy; CodeOpacity. Design by NETHUNT</p>
</div>

