.change-password-container{
    box-sizing: border-box;
    padding: 20px;
}

.input-field{

}
.change-password-title{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.error-message{
    color: red;
}
.btn-submit{
    background-color: #0077F6; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 10px 10px; /* Kích thước của button */
    text-align: center; /* Canh lề chữ giữa */
    display: inline-block; /* Hiển thị như một khối inline */
    font-size: 16px; /* Kích cỡ chữ */
    cursor: pointer; /* Con trỏ chuyển thành hình bàn tay khi di chuột qua */
    border-radius: 5px; /* Độ cong viền */
    border: none; /* Loại bỏ border */
    min-width: 80px;
}
.button-container{
    display: flex;
    align-items: center;
}
.btn-submit.disabled {
    opacity: 0.5; /* Or any other styles you want for disabled state */
    cursor: not-allowed;
}
