.form-container {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.form-container .title-container {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-container .full-width {
  width: 100%;
}
.form-container .full-width button{
  background: none;
  border: none;
}
.form-container .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
