<div class="form-container">
  <form [formGroup]="passwordForm" (ngSubmit)="handleSubmit()">
    <p class="title-container">Change password</p>

    <mat-form-field appearance="outline" floatLabel="always" class="full-width">
      <mat-label>Old password</mat-label>
      <input matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" placeholder="Enter your password">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('old')" class="button-icon-password">
        <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="full-width">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" placeholder="Enter your password">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('new')" class="button-icon-password">
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="full-width">
      <mat-label>Re-enter new password</mat-label>
      <input matInput formControlName="reNewPassword" [type]="hideReNewPassword ? 'password' : 'text'" placeholder="Re-enter your password">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('renew')" class="button-icon-password">
        <mat-icon>{{ hideReNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="button-container">
      <button mat-flat-button color="primary" type="submit">Save password</button>
    </div>
  </form>
</div>
