<div class="form-container">
  <form [formGroup]="passwordForm" (ngSubmit)="handleSubmit()">
    <p class="title-container">Change password</p>

    <div>
      <div>
        <p class="input-title">Old password</p>

        <span *ngIf="passwordForm.get('oldPassword')?.hasError('required') && passwordForm.get('oldPassword')?.touched" class="error-message">
          Old password is required.
        </span>

        <mat-form-field appearance="outline" floatLabel="always" class="full-width">
          <input matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" placeholder="Enter your password">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility('old')" class="button-icon-password">
            <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

      </div>
    </div>

    <div>
      <p class="input-title">New password</p>
      <span *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched" class="error-message">
          New password is required.
      </span>
      <span *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched" class="error-message">
          New password min lenght 8 character.
      </span>
      <mat-form-field appearance="outline" floatLabel="always" class="full-width">
        <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" placeholder="Enter your password">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility('new')" class="button-icon-password">
          <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <p class="input-title">Re-enter new password</p>

      <span *ngIf="passwordForm.get('reNewPassword')?.hasError('required') && passwordForm.get('reNewPassword')?.touched" class="error-message">
          Re new password is required.
      </span>
      <div *ngIf="passwordForm.get('reNewPassword')?.hasError('mismatch') && passwordForm.get('reNewPassword')?.touched" class="error-message">
        Passwords do not match.
      </div>
      <mat-form-field appearance="outline" floatLabel="always" class="full-width">
        <input matInput formControlName="reNewPassword" [type]="hideReNewPassword ? 'password' : 'text'" placeholder="Re-enter your password">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility('renew')" class="button-icon-password">
          <mat-icon>{{ hideReNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-flat-button color="primary" type="submit">Save password</button>
    </div>
  </form>
</div>
