/* radioInput.css */

.radio-input-container {
    margin-bottom: 10px; /* Adjust margin bottom as needed */
}

.radio-input-container p {
    font-weight: 500;
    margin-bottom: 5px; /* Add some space between label and radio options */
}

.radio-input-container span {
    display: flex; /* Display radio options in a row */
    align-items: center; /* Center items vertically */
    text-align: center;
}

.radio-input-container input[type="radio"] {
    cursor: pointer;
    margin-right: 5px; /* Add space between radio button and label */
    width: 15px;
    height: 15px;
}

.radio-input-container label {
    margin-right: 15px; /* Add space between labels */
    cursor: pointer; /* Show pointer cursor on hover */
}
