/* CSS for profile page container */
.profile-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Set container height to at least the height of the viewport */
}

/* CSS for profile content section */
.profile-page-container .profile-content {
    display: flex;
    flex: 1;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    /*min-height:100vh;*/
    margin: 20px;
}

/* CSS for profile left section */
.profile-page-container .profile-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 40px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 5px;
    height: 70vh;
}

.profile-page-container .profile-left .profile-avatar{
    width: 250px;
    height: 250px;
}
.profile-page-container .profile-left .profile-info{
    margin-top: 20px;
}
.profile-page-container .profile-left .profile-info p{
    margin: 0px;
    /* margin-top: 20px; */
    text-align: center;
}

.profile-page-container .profile-left .change-password-link {
    margin-top: 20px;
}

/* CSS for profile right section */
.profile-page-container .profile-right {
    width: calc(100% - 300px);
    /* Fix the space calculation */
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 5px;
    min-height: 40vh;
}
