.home-body-container {
    width: 100%;
    background-color: rgb(211, 255, 255);
    height: 1000px;
    box-sizing: border-box;
}

.home-body-container .imageslide-container {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
}