.auth-page-container {
    background-color: #F5F5F9;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Apply box-sizing to all elements */
}