.forgot-password-container{
    margin: 50px auto;
    background-color: white;
    width: 450px;
    min-height: 200px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px;
}

.forgot-password-container h3{
    text-align: center;
}