<div class="forgot-password-container">
  <mat-card>
    <div style="margin: 40px 20px">
      <mat-card-title><h1>Change password</h1></mat-card-title>
      <mat-card-content>
       <form [formGroup]="formPassword">
         <p>
          <span>
            <p class="title" style="font-size: 18px">Password</p>
            <mat-form-field appearance="outline" style="width: 100%">
              <input matInput  formControlName="password" type="text" placeholder="Enter your password">
            </mat-form-field>
          </span>
         </p>
         <p>
          <span>
            <p class="title" style="font-size: 18px">Re password</p>
            <mat-form-field appearance="outline" style="width: 100%">
              <input matInput  formControlName="rePassword" type="text" placeholder="Enter your re-password">
            </mat-form-field>
          </span>
         </p>
         <p class="button-container">
           <button mat-raised-button color="primary" type="button" (click)="handleSubmit()">Submit</button>
         </p>
       </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
